body{
	font:sans-serif;
	color:rgba(0,0,0,5);
	text-align:center;
	text-transform: uppercase;
	letter-spacing:0.5em;
	background :linear-gradient(to right,violet,red); 
}
h1{
	font:sans-serif;
	color:rgba(0,0,0,5);
	text-align:center;
	text-transform: uppercase;
		letter-spacing:0.5em;
	
}
h3{
font:sans-serif;
	color:rgba(0,0,0,5);
	text-align:center;
}	
